.dots {
    display: flex;
    justify-content: center;
    margin: 0 -6px 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #DAE0E8;
    border-radius: 50%;
    display: block;
    margin: 0 6px;
}

.dot--active {
    background: #3B5066;
}
