.list__checkbox {
    margin: 13px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.list__checkbox label {
    cursor: pointer;
}
.list__checkbox input {
    width: 0;
    margin: 0;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
}

.list__checkbox input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    text-decoration-line: underline;
}

.list__checkbox input + label::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #0D55F6;
    border-radius: 50%;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
}

.list__checkbox input:not(:disabled):active + label::before {
    border-color: #b3d7ff;
}

.list__checkbox input:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.list__checkbox input:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.list__checkbox input:checked + label::before {
    background-color: #fff;
    background-image: url('./../img/checkbox.png');
}

.list__checkbox input:disabled + label::before {
    background-color: #e9ecef;
}
