@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body, html {
    height: 100%;
}

body, .page {
    width: 360px;
    height: 600px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

#root {
  height: 100%;
  width: 100%;
}

#one:checked ~ #panels #one-panel,
#two:checked ~ #panels #two-panel {
    display:block
}

#one:checked ~ #panels div #one-tab {
    border-color: #0D55F6;
    color: #0D55F6;
}

#two:checked ~ #panels div #two-tab {
    border-color: #0D55F6;
    color: #0D55F6;
}

/*----------------PAGE ANIMATION----------------*/
.container {
  position: relative;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
